@font-face {
    font-family: "Bell MT";
    font-weight: 400;
    font-style: normal;
    src: url('./bell-mt/BellMT.ttf');
}

@font-face {
    font-family: "Bell MT";
    font-weight: 400;
    font-style: italic;
    src: url('./bell-mt/BellMT-Italic.TTF');
}

@font-face {
    font-family: "Bell MT";
    font-weight: 600;
    font-style: normal;
    src: url('./bell-mt/BellMT-SemiBold.otf');
}

@font-face {
    font-family: "Bell MT";
    font-weight: 700;
    font-style: normal;
    src: url('./bell-mt/BellMT-Bold.otf');
}

@font-face {
    font-family: "Bell MT";
    font-weight: 700;
    font-style: italic;
    src: url('./bell-mt/BellMT-BoldItalic.otf');
}